@import "tailwindcss";

:root {
  --bg-color: #1e1e1e;
  --text-color: #ffffff;
  --accent-color: #007acc;
}
* {
  -webkit-user-select: none;  /* Para compatibilidade com o Chromium */
  user-select: none;          /* Padrão */
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: 'Inter', sans-serif;
  overflow: hidden; /* Prevent scroll on body, handle in containers */
}

/* Custom Scrollbar for Webkit */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #2d2d2d;
}
::-webkit-scrollbar-thumb {
  background: #555;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #777;
}

/* Drag Region */
.titlebar-drag-region {
  -webkit-app-region: drag;
}
.no-drag {
  -webkit-app-region: no-drag;
}
